@import "tailwindcss";

@font-face {
  font-family: 'Nohemi';
  src: url('/fonts/Nohemi-ExtraLight-BF6438cc58a2634.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url('/fonts/Nohemi-Light-BF6438cc5899919.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url('/fonts/Nohemi-Regular-BF6438cc4d0e493.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url('/fonts/Nohemi-SemiBold-BF6438cc588a48a.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Galgo';
  src: url('/fonts/Galgo.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #1a1512;
}

body {
  background: var(--background);
  color: var(--foreground);
}